[submodule "libs/libremidi"]
	path = libs/libremidi
	url = https://github.com/celtera/libremidi.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/readerwriterqueue"]
	path = libs/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "libs/MTS-ESP"]
	path = libs/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
